
<html>
    <head>
    
    <link href="../uploaded/css/bootstrap.min.css" rel="stylesheet">
    <link href="../uploaded/css/style.css" rel="stylesheet">
    <link rel="stylesheet" href="../uploaded/css/all.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
    <title>dashboard</title>
    </head>
    
    <body>



      <%- include('adminheader.ejs',{data:data}); %>
      <div class="py-3 col-md-9">
 
        <h1>Done Orders</h1>
        <!-- <div class="m-auto d-flex justify-content-center ">
     -->
        <table class="table table-striped" >
            <thead>
              
              <tr>
                <th scope="col">CustomerName</th>
                <th scope="col">Email</th>
                <th scope="col">Address</th>
                <th scope="col">ProductCode</th>
                <th scope="col">Price</th>
                <th scope="col">Date</th>
                <th scope="col">Confirm</th>
              </tr>
            </thead>
            <% if(order.length){ for(let i=0;i < order.length;i++) { %>   
              <tbody>
                <tr>
                  <th scope="row"><%= order[i].user_name %> </th>
                  <td><%= order[i].email %></td>
                  <td><%= order[i].address %></td>
                  <td><%= order[i].product_id %></td>
                  <td><%= order[i].product_price%></td>
                  <td><%= order[i].date %></td>
                  <td>Done</button></td>
                </tr>
          
                  
              </tbody>
              
              <% } }%>
           
      
          </table>
        </div>
</div>







<script src="../uploaded/js/jquery-3.3.1.slim.min.js"></script>
<script src="../uploaded/public/js/popper.min.js"></script>
<script src="../uploaded/public/js/bootstrap.min.js"></script>
<script src="../uploaded/public/js/mine.js"></script>
<script src="/uploaded/js/edit.js"></script>


</body>
</html>